.hero {
  background: url('../images/portfolioHero.jpg') no-repeat fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 350px;
}

.expertise {
  display: grid;
  grid-template-columns: repeat(12, 200px);
}
