.hero {
  background: url('../images/portfolioHero.jpg') no-repeat fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 350px;
  
}
