.hero {
  background: url('../images/portfolioHero.jpg') no-repeat fixed;
  background-size: cover;
  height: 100vh;
  position: relative;
  width: 100%;
  min-height: 350px;
}

.expertise {
  width: 100%;
  margin-bottom: 5rem;
  /* display: grid; */
  /* grid-template-columns: repeat(12, 200px); */
  /* grid-template-columns: repeat(8, 200px); */
}

.workSection{
  background: pink;
  display: grid;
  grid-template-columns: repeat(6, 280px);
  grid-template-rows: repeat(6, 250px);
}

.l2Image {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.l2Text{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.devolunteerImage {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.devolunteerText{
  grid-column: 4 / 5;
  grid-row: 3 / 3;
}

.petsImage {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

.gentlyPetsText {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

/* .workSection {
  width: 100%;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(6, 280px);
  grid-template-rows: repeat(6, 250px);
  background: pink;
  text-align: center;
} */
