.contactMe {
  position: relative;
  width: 100%;
  /* height: 20rem; */
  border-bottom: 1px solid black;
  text-align: center;
}


/* .contactText {
  margin-left: 44%;
} */

.emailLink {
  display: block;
  margin-top: 4%;
  width: 11%;
  margin-left: auto;
  margin-right: auto;
}

.contactUs{
  width: 40%;
  margin-left: 30%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.inputField {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}


.contactButton {
  position: absolute;
  top: 35%;
  left: 43%;
  background: #fff;
  width: 6em;
  z-index: 10;
}


.field {
  margin: 1em 0;
}

label {
  float: left;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  margin-bottom: 3%;
  margin-top: 1%;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  margin-bottom: 3%;
  margin-top: 1%;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 60%;
  text-align: center;
}

button:hover, button:focus {
  cursor: pointer;
}

button:active {
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


/* Mobile */

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .contactMe {
    height: auto;
    text-align: center;
  }

.contactTitle {
  font-size: 3em;
}

  .contactBlurb {
    width: 90%;
    margin: auto;
    line-height: 1.5;
    font-size: 2em;
  }

.emailLink{
  display: block;
  width: 25%;
  margin-top: 10%;
  margin-bottom: 15%;
  /* margin: auto; */
}


 }
