.stickyNav {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 6;
  height: 5em;
  /* border-bottom: 1px solid #fff; */
}


.globalNav {
  right: 5px;
  float: right;
  list-style: none;
  margin:0;
  padding:0;
  color: white;
  width: auto;
  height: 2em;
  background:rgba(0,0,0,0);
}

.darkNav {
  background: rgba(255,255,255,.75);
  z-index: 80;
}

.globalNav li {
margin: 0, auto;
display: inline;
font-size: 1em;
line-height: 1;
text-decoration: none;
text-transform: uppercase;
}

.globalNav li a {
  margin-top: 5px;
  display: inline-block;
  padding: 0.625em;
  color: #000;
  text-decoration: none;

}

.logo {
  display: inline;
  position: absolute;
  left: 1%;
  top: 1%;
  margin-top: 9px;
  margin-bottom: 10px;
}

/* HERO */

/* .heroText {
} */

.heroText{
  color: #fff;
  height: 88.05%;
  /* height: 84.05%; */
  position: absolute;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background:rgba(0,0,0,0.3);
    opacity: 0;
  }

.textContainer {
  position: absolute;
  top: 30%;
  left: 40%;
}

.heroFirst{
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    opacity: 0;
  }

.heroSecond{
    margin: 15px 0 25px 0;
    font-weight: 400;
    font-size: 24px;
    opacity: 0;
  }

.heroThird{
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    margin-top: 80px;
    opacity: 0;
}


/* Expertise Area */

.skillContainer {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid grey;
}

.baStuff {
  width: 30%;
  display: inline-block;
  /* display: inline; */
}

.websites {
  width: 30%;
  display: inline-block;
}

.webApps {
  width: 30%;
  display: inline-block;
}

.skillImage {
  width: 5rem;
}

/* Work Section */

.workSection img {
  size: 30%;
}

.workSection p {
  margin-bottom: 10%;
}

.l2Image {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.l2Text{
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.devolunteerImage {
  width: 85%;
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}

.devolunteerText{
  grid-column: 4 / 6;
  grid-row: 3 / 3;
}

.petsImage {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

.gentlyPetsText {
  grid-column: 2 / 4;
  grid-row: 5 / 6;
}


/* About Me */

.meImage{
  position: absolute;
  top: 20%;
  left: 25%;
  width: 15%;
  border-radius: 50%;
}

.meDescription {
  position: absolute;
  top: 20%;
  left: 44%;
  width: 30rem;
}

.meDescription p {
  margin-bottom: 10%;
}

.meDescription img {
  width: 1.5rem;
  margin-left: 2rem;
}


/* CONTACT ME */

.contactText {
  margin-left: 44%;
}

.contactUs{
  width: 40%;
  margin-left: 30%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

input, textarea {
  margin-bottom: 3%;
  margin-top: 1%;
}

.inputField {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}


.contactBtn {
  background: #fff;
  width: 5em;
  height: 10em;
  z-index: 10;
}

/* Footer */

.footerText {
  position: absolute;
  top: 35%;
  left: 40%;
}

.socFooter {
  position: absolute;
  top: 50%;
  left: 45%;
}

.socFooter img {
  width: 36px;
}
